.swiper {

  text-align: center;
  border: 1px solid black;
  margin: 2em auto;
  width: 100%;
  overflow-x: hidden;
}

.button {
	height: 50px;
	width: 50px;
	display: inline;
	margin: 1em;
	border: 1px solid black;
}

/* Sliding functionality */

.background-enter {
	transform: translate(100%);
}

.background-enter.background-enter-active {
	transform: translate(0%);
	transition: transform 1000ms ease-in-out;
}

.background-leave {
	transform: translate(0%);
}

.background-leave.background-leave-active {
	transform: translate(-100%);
	transition: transform 1000ms ease-in-out;
}


