
.swiper {
  width: 80%;
  height: 120px;
  position: relative;
  margin: 2em auto;
}

.button {
	height: 50px;
	width: 50px;
	display: inline;
	margin: 1em;
	border: 1px solid black;
}

.item-container {
	position: relative;
	overflow-x:hidden;
	height: 100%;
	width:100%;
}

/* sliding functionality */

.slidingRight-enter {
	transform: translate(100%);
}

.slidingRight-enter.slidingRight-enter-active {
	transform: translate(0%);
	transition: transform 600ms ease-in-out;
}

.slidingRight-leave {
	transform: translate(0%);
}

.slidingRight-leave.slidingRight-leave-active {
	transform: translate(-100%);
	transition: transform 600ms ease-in-out;
}

.slidingLeft-enter {
	transform: translate(-100%);
}

.slidingLeft-enter.slidingLeft-enter-active {
	transform: translate(0%);
	transition: transform 600ms ease-in-out;
}

.slidingLeft-leave {
	transform: translate(0%);
}

.slidingLeft-leave.slidingLeft-leave-active {
	transform: translate(100%);
	transition: transform 600ms ease-in-out;
}

/* end slider functionality */


