
.swiper {
  width: 80%;
  position: relative;
  margin: 2em auto;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;

}

.button {
	height: 50px;
	width: 50px;
	display: inline;
	margin: 1em;
	border: 1px solid black;
}

.item-container {
	position: relative;
	overflow-x:hidden;
	height: 100%;
	width:100%;
}



.leftButton {
	position: absolute;
	left:0;
	height: 100%;
	min-width: 50px;
	background: rgba(181, 181, 181, .5);
	z-index: 1000;
	cursor: pointer;
}

.rightButton {
	position: absolute;
	left: calc(100% - 50px);
	top:0;
	height: 100%;
	background: rgba(181, 181, 181, .5);
	min-width: 50px;
	z-index: 1000;
	cursor: pointer;
}



/* sliding functionality */

.slidingRight-enter {
	transform: translate(100%);
}

.slidingRight-enter.slidingRight-enter-active {
	transform: translate(0%);
	transition: transform 600ms ease-in-out;
}

.slidingRight-leave {
	transform: translate(0%);
}

.slidingRight-leave.slidingRight-leave-active {
	transform: translate(-100%);
	transition: transform 600ms ease-in-out;
}

.slidingLeft-enter {
	transform: translate(-100%);
}

.slidingLeft-enter.slidingLeft-enter-active {
	transform: translate(0%);
	transition: transform 600ms ease-in-out;
}

.slidingLeft-leave {
	transform: translate(0%);
}

.slidingLeft-leave.slidingLeft-leave-active {
	transform: translate(100%);
	transition: transform 600ms ease-in-out;
}

/* end slider functionality */


